.container {
  display: grid;
  grid-template-columns: 70% 20%;
  grid-template-rows: auto;
  justify-content: end;

}




h1, h2 {
  margin-bottom: 8px;
  margin-top: 20px;
}

li a {
  display: block;
}

a {
  text-decoration: none;
  line-height: 30px;
}
ul :hover {
  text-decoration: underline;
}
ul {
  position:fixed;
  right: 0;
}
p {
  line-height: 25px;
}
.checkboxes {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 25px;
}
